  <div class="col-xs-2">
    <div class="well">
      <h4>{{item.name}}</h4>
      <img src="{{item.img}}" width="64px;" />
      <div class="row">
        <span class="label label-default">${{item.cost}}.00</span>
          <span {{action 'destroy' item}} class="btn btn-danger glyphicon glyphicon-remove"></span>
      </div>
    </div>
  </div>
