{{yield}}

<div class="col-xs-4">
  <a href="#"><img src="http://png-1.vector.me/files/images/7/4/741730/twitter_thumb.png" width="7%" alt="" /></a>
  <a href="#"><img src="https://www.facebookbrand.com/img/fb-art.jpg" alt="" width="7%" /></a>
  <a href="#"><img src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/yelp-icon.png" alt="" width="7%" /></a>
</div>
