<div class="col-xs-10 col-xs-offset-1">
  <div class="row black-header">
    <a href="">{{#link-to 'index'}}<h1 class="title-header" style="margin-left:24px;">Market-Place</h1>{{/link-to}}</a>
    {{social-tile}}
    <ul class="nav nav-tabs navbar-right">
      <li role="presentation"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">{{#link-to 'admin'}}Admin{{/link-to}}</a></li>
    </ul>
  </div>
</div>

{{outlet}}
