
<div class="row">
  {{#each model.items as |inv|}}
    {{shopping-cart-tile inventory=inv}}
  {{/each}}
</div>

<div class="col-xs-6 col-xs-offset-3">
  <div class="row black-header" style="text-align:right;" >
    <div class="well">
      <h3><span class="label label-info">Cost:</span>
      ${{totalCost model.items}}.00</h3>
    </div>
  </div>
</div>
